@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

body {
background-image: url(vgogh4.jpeg);
background-position: center;
margin: 0;
font-family: 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

/*makes the two columns/boxes stack on top of each other on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

h1 {
text-align: center;	
font-size: 60px;
padding: 30px;
background-color: #78a5ab;
background-image: linear-gradient(to right, #4d748a, #6895a9, #78a5ab, #88aeb7, #97b3a7, #e0e6cd, #d6d8cc);
color: white;
}

p {
text-align: center;
font-size: 18px;
color: white;
}

ul {
text-align: center;
}

h4
{
text-align: center;
font-size: 52px;
padding-bottom: 25px;
color: white;
}

footer {
text-align: center;
padding: 60px;
}

.col-centered{
float: none;
margin: 0 auto;
    }

div {
padding-right: 20px;
padding-left: 20px; /*didn't do jack shit but let's keep it anyways*/
}

img {
max-width: 100%;
}

#wrapper {
margin: 50px; 
background: orange; 
overflow: hidden;
}

.embed {
max-width: 100%;
}

.btn-secondary {
border-radius: 30px;
}

.btn-secondary:hover {
color: black !important;
background-color: #e0e6cd !important;
border-color: #e0e6cd !important; 
transition:.5s !important;
}

#yksi1 {
border: 2px solid;
border-radius: 25px;
margin-left: 10px;
margin-right: 15px;
padding: 10px;
box-shadow: 5px 10px;
padding-right: 5px;
background-color: #78a5ab;
}

#box {
  width: 100px;
  height: 100px;
  background-color: #e0e6cd;
  transition: width 4s;
  transition-timing-function: ease-in-out;

  text-align: center;
  display: block;
}

#box:hover {
  width: 650px;
}

#cgthissh {
display: block;
text-align: center;
}

h3 {
text-align: center;
padding: 10px;
font-size: 15px;
color: white;
font-style: oblique;
}

a {
margin: 5px;
transition:.5s;
color: white;
}

a:hover { 
color: black; 
}